// custom variables
$primary: #ffd77b;
$light: #fbf5e5;

//import the functions and variables
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

$custom-theme-colors: (
    "altlight": #d1e8a0,
    "altdark": #246219,
    "text-box": #ffeba5,
);

.fact-heading {
    font-family: 'Playfair Display', serif;
    font-weight: 650;
}

.fact-paragraph {
    font-family: 'Playfair Display', serif;
    }

.bg-text-box {
    background-color: #c0c0c0; 
  border: 2px solid #fff;
  border-right-color: #808080;
  border-bottom-color: #808080;
  color: #000;
}

.nav-btn {
    display: inline-block;
  background-color: #dcdcdc;
  border: 2px solid #fff;
  border-right-color: #888;
  border-bottom-color: #888;
  padding: 4px 10px;
  color: #000 !important;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  box-shadow: inset 1px 1px #fff, inset -1px -1px #888;
}

.nav-btn-special {
    display: inline-block;
  background-color: #facc60;
  border: 1px solid #fff;
  border-right-color: #888;
  border-bottom-color: #888;
  padding: 6px 12px;
  color: #000 !important;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  font-weight: bold;
}



$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';
