// custom variables
$primary: #e6ba52;
$light: #fbf5e5;

//import the functions and variables
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

$custom-theme-colors: (
    "altlight": #d1e8a0,
    "altdark": #246219,
    "text-box": #fcebae
);

.fact-heading {
    font-family: 'Playfair Display', serif;
    font-weight: 650;
}

.fact-paragraph {
    font-family: 'Playfair Display', serif;
    }

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';
