// custom variables
$primary: #ffd77b;
$light: #fbf5e5;

//import the functions and variables
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

$custom-theme-colors: (
    "altlight": #b3daae,
    "altdark": #2b5039,
    "text-box": #fdf5d6,
    "mutedlight": #9dc2a5,
    "order": #f0c9d3,
);

.fact-heading {
    font-family: 'Playfair Display', serif;
    font-weight: 650;
}

.fact-paragraph {
    font-family: 'Playfair Display', serif;
    }

.bg-text-box {
    background-color: #c0c0c0; 
  border: 2px solid #fff;
  border-right-color: #808080;
  border-bottom-color: #808080;
  color: #000;
}

.nav-btn {
    display: inline-block;
  background-color: #dcdcdc;
  border: 2px solid #fff;
  border-right-color: #888;
  border-bottom-color: #888;
  padding: 4px 10px;
  color: #000 !important;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  box-shadow: inset 1px 1px #fff, inset -1px -1px #888;
}

.nav-btn-special {
    display: inline-block;
  background-color: #facc60;
  border: 1px solid #fff;
  border-right-color: #888;
  border-bottom-color: #888;
  padding: 6px 12px;
  color: #000 !important;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  font-weight: bold;
}

.offcanvas {
  z-index: 1061 !important;
}

// Mobile adjustments

html, body {
  overflow-x: hidden; 
}

section {
  padding: 40px 20px;

  @media (min-width: 768px) {
    padding: 60px 0;
  }
}

@media (max-width: 767px) {
  #main-nav .navbar-nav {
    text-align: center;
  }

  #main-nav .nav-item {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  #main-nav .nav-link {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  
  #main-nav.collapse {
    margin-top: 2rem; 
  }

  #main-nav .nav-item {
    margin-bottom: 1rem;
  }
}


.nav-btn-special,
.btn-lg {
  width: 100%;
  margin-bottom: 10px;

  @media (min-width: 768px) {
    width: auto;
    margin-bottom: 0;
  }
}

img.img-fluid {
  max-width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .mx-5 {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }

  .card p.d-none.d-lg-block {
    display: block !important;
    margin: 0.5rem 0;
  }

  .accordion-button {
    font-size: 0.9rem;
  }

  h1 .display-6 {
    font-size: 1.5rem;
  }
}


$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';
